.NavBar {
    .bg-custom {
        background-color: #F2E1D9;
    }

    .navbar {
        @media (min-width: 992px) {
            padding: 20px 10px;
        }

        .container-fluid {
            .navbar-brand {
                width: 20%;
                font-weight: bold;
            }

            .navbar-collapse {
                width: 80%;
                justify-content: space-between;

                .navbar-nav {
                    .nav-link {
                        margin: 0 25px;
                    }
                }

                form {
                    @media (min-width: 992px) {
                        width: 40%;
                    }
                }
            }
        }
    }
}