.SaleInfo {

    background-color: whitesmoke;
    padding: 20px;

    @media (min-width: 992px) {
        width: 50vw;
        border-radius: 5px;
    }

    @media (max-width: 991px) {
        width: 100vw;
        height: auto;
        min-width: 25vh;
    }

    .sale-percen {
        font-size: 30px;
        font-weight: bold;
        padding: 10px 0;
    }

    h1 {
        @media (min-width: 992px) {
            font-size: 60px;
        }

        @media (max-width: 991px) {
            font-size: 50px;
        }

        font-weight: bold;
        padding: 20px 0;
    }

    .description {
        padding: 20px 10px;
        text-align: justify;
        max-height: 30vh;
        overflow: auto;
    }

    .link {
        @media (min-width: 992px) {
            padding: 10px 50px;
            margin: 10px;
        }

        @media (max-width: 991px) {
            display: block;
            margin: 10px;
        }
    }
}