$bg-img: url('../../share/img/furniture-banner.jpg');

.Banner {
    // border: 1px solid red;

    @media (min-width: 992px) {
        height: 100vh;
    }

    @media (max-width: 991px) {
        height: 55vh;
    }

    background-image: $bg-img;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    position: relative;

    .SaleInfo {
        position: absolute;

        @media (min-width: 992px) {
            top: 50px;
            left: 50px;
            animation-name: slipWeb;
            animation-duration: 1s;
        }

        @media (max-width: 991px) {
            animation-name: slipMobile;
            animation-duration: 0.5s;
        }
    }
}

@keyframes slipWeb {
    from {
        top: 50px;
        left: 500px;
        opacity: 0;
    }

    to {
        top: 50px;
        left: 50px;
        opacity: 1;
    }
}

@keyframes slipMobile {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}